/* ################################## */
            /*Imports*/
/* ################################## */
@import url(responsive.css);
/* ################################## */
            /*Imports*/
/* ################################## */

/* ################################## */
            /*Fonts*/
/* ################################## */
@import url(fonts/);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ################################## */
            /*Fonts*/
/* ################################## */

/* ################################## */
            /*Plugins*/
/* ################################## */
/* Banner cookies */
@import url(plugins/cookies.css);
/* ################################## */
            /*Plugins*/
/* ################################## */

/* Default */
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}
/* Default */

/* SELECTION para ACTIVAR DEBES DESCOMENTAR */
::selection {
  display: none;
}
/* SELECTION */

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */

/* HTML */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* HTML */

/* Body */
body {
  background-color: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Header */
header {
  display: flex;
}

.logo-container {
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.menu-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.logo-menu-container {
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  margin-top: 8px;
}
/* Header End*/

/* Content Container1 */
.content-container1 {
  width: 100%;
  height: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}
.title-container h2 {
  font-weight: 100;
  font-size: 150px;
  margin-bottom: -35px;
}
.title-container h1 {
  font-weight: 700;
  font-size: 160px;
  margin-top: -35px;
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding-left: 980px;
  font-size: 30px;
}
.subtitle-container p {
  margin: 2px;
  font-size: 30px;
  font-weight: 400;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-container img {
  width: 60%;
  margin-top: 40px
}
.img-container-par {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 80px;
  position: absolute;
  margin-top: 900px;
}
.img-container-par p {
  margin: -20px;
}

.par-container1 {
  display: flex;
  justify-content: space-around;
  margin: 600px 250px 0px 250px;
  font-size: 20px;
  color: #777777;
}
.par-container1-p {
  color: #bdbdbd
}
.par-container1-learnmore {
  color: #fff;
  margin-top: 25px;
}
/* Content Container1 End */

/* Content Container2 */
.content-container2 {
  width: 100%;
  height: 2000px;
}

.content-container2-img {
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
}

.content-container2-large-img img {
  height: 800px;
  width: 580px;
  object-position: center;
  object-fit: cover;
}
.large-img-par {
  display: flex;
  justify-content: space-between;
  margin-top: 10px
}
.large-img-par2 {
  color: #777;
  font-size: 14px;
}

.content-container2-small-img {
  display: flex;
}
.content-container2-small-img div {
  margin: 25px;
}
.small-img1 img {
  height: 420px;
  width: 280px;
  object-position: center;
  object-fit: cover;
}
.small-img2 img {
  height: 420px;
  width: 280px;
  object-position: center;
  object-fit: cover;
}
.small-img-par2 {
  margin-top: 5px;
  color: #777;
  font-size: 14px;
}

.content-container2-btnview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.content-container2-btnview p {
  font-size: 35px;
}
.btnview-par1 {
  font-weight: lighter;
  margin-bottom: -5px;
}
.btnview-par2 {
  font-weight: bolder;
  margin-top: -5px;
}
.content-container2-btnview button {
  background: transparent;
  border-radius: 30px;
  border: solid #fff;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin-top: 30px;
}
/* Content Container2 End */
/* Body */

/* Fixed's */
  /* Top */
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Top */
  /* Top right */
  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  /* Top right */
  /* Top left */
  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* Top left */

  /* Bottom */
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Bottom */
  /* Bottom right */
  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  /* Bottom right */
  /* Bottom left */
  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  /* Bottom left */
/* Fixed's */