/* ################################## */
            /*Imports*/
/* ################################## */
@import url(responsive.css);
/* ################################## */
            /*Imports*/
/* ################################## */

/* ################################## */
            /*Fonts*/
/* ################################## */
@import url(fonts/);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ################################## */
            /*Fonts*/
/* ################################## */

/* ################################## */
            /*Plugins*/
/* ################################## */
/* Banner cookies */
@import url(plugins/cookies.css);
/* ################################## */
            /*Plugins*/
/* ################################## */

/* Default */
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}
/* Default */

/* SELECTION para ACTIVAR DEBES DESCOMENTAR */
::selection {
  display: none;
}
/* SELECTION */

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */

/* HTML */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/* HTML */

/* Body */
body {
  background-color: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Header */
header {
  display: flex;
}

.logo-container {
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}
.logo-container img {
  opacity: 0;
}

.menu-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}
.menu-container h2 {
  opacity: 0;
}

.logo-menu-container {
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  margin-top: 8px;
}
.logo-menu-container img {
  opacity: 0;
}
/* Header End*/

/* Content Container1 */
.content-container1 {
  width: 100%;
  height: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}
.title-container h2 {
  font-weight: 100;
  font-size: 150px;
  margin-bottom: -35px;
  opacity: 0;
}
.title-container h1 {
  font-weight: 700;
  font-size: 160px;
  margin-top: -35px;
  opacity: 0;
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding-left: 980px;
  font-size: 30px;
}
.subtitle-container p {
  margin: 2px;
  font-size: 30px;
  font-weight: 400;

}
.par1{
  opacity: 0;
}
.par2 {
  opacity: 0;
}
.par3 {
  opacity: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-container img {
  width: 30%;
  margin-top: 100px;
  height: 1060px;
  object-position: center;
  object-fit: cover;
  opacity: 0;
}
.img-container-par {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 90px;
  position: absolute;
  margin-top: 1600px;
}
.img-container-par p {
  margin: -20px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.671) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.par-container1 {
  display: flex;
  justify-content: space-around;
  margin: 100px 250px 0px 250px;
  font-size: 20px;
  color: #777777;
}
.par-container1-p {
  color: #bdbdbd
}
#par-2023 {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.671) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#par-portfolio {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.671) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#par-par {
  background: linear-gradient(
    to right,
    #777777 50%,
    rgba(37, 37, 37, 0.671) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.par-container1-learnmore {
  color: #fff;
  margin-top: 50px;
}
.par-container1-learnmore p {
  opacity: 0;
}
/* Content Container1 End */

/* Content Container2 */
.content-container2 {
  width: 100%;
  height: auto;
  margin-bottom: 120px;
}

.content-container2-img {
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
}

.content-container2-large-img img {
  height: 800px;
  width: 580px;
  object-position: center;
  object-fit: cover;
}
.large-img-par {
  display: flex;
  justify-content: space-between;
  margin-top: 10px
}
.large-img-par2 {
  color: #777;
  font-size: 14px;
}

.content-container2-small-img {
  display: flex;
}
.content-container2-small-img div {
  margin: 0px 25px 25px 25px;
}
.small-img1 img {
  height: 420px;
  width: 280px;
  object-position: center;
  object-fit: cover;
}
.small-img2 img {
  height: 420px;
  width: 280px;
  object-position: center;
  object-fit: cover;
}
.small-img-par2 {
  margin-top: 5px;
  color: #777;
  font-size: 14px;
}

.content-container2-btnview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.content-container2-btnview p {
  font-size: 35px;
}
.btnview-par1 {
  font-weight: lighter;
  margin-bottom: -5px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.671) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btnview-par2 {
  font-weight: bolder;
  margin-top: -5px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgba(37, 37, 37, 0.671) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.content-container2-btnview button {
  background: transparent;
  border-radius: 30px;
  border: solid #fff;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin-top: 60px;
  opacity: 0;
}
/* Content Container2 End */

/* Content Container */
.content-container3 {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  scale: 0.7;
}

.content-our-service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-service  {
  display: flex;
  justify-content: center;
  margin: 120px 0px 120px 0px;
  font-size: 20px;
  font-weight: bolder;
  background: linear-gradient(
    to right,
    #000 50%,
    #777777 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.our-service-list {
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin-bottom: -40px;
}
.list-separation-right {
  margin-right: 8px;
  font-weight: lighter;
}
.list-separation-left {
  margin-left: 8px;
  font-weight: bolder;
}

.short-tip {
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
  padding-bottom: 250px;
}
.short-quick-tip {
  display: flex;
}
.short-quick-tip-par {
  opacity: 0.5;
}
.short-tip-content1 {
  font-size: 40px;
}
.par-our-project {
  margin-left: 40px;
}
.short-tip-content1 p {
  margin-top: -20px;
  font-weight: bolder;

}
.short-tip-content2 {
  margin-left: -117px;
}
/* Content Container3 End */

/* Content Container4 */
.content-container4 {
  width: 100%;
  height: auto;
  background-color: black;
}

.container4-title {
  display: flex;
  font-size: 60px;
  margin: 125px 0px 125px 0px;
  justify-content: center; 
}
.title1 {
  font-weight: lighter;
  margin-right: 5px;
}
.title2 {
  font-weight: bolder;
  margin-left: 5px;
}

.content1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px solid #7777;
}
.content-p1 {
  margin-left: 100px;
  color: #777777;
}
.par-color {
  color: #777777;
}
.content-p2 {
  margin-right: 350px;
}
.content1-title {
  display: flex;
  margin-bottom: 20px;
  font-size: 28px;
}
.read-article {
  margin-top: 20px;
  font-weight: bolder;
}

#margin-fix {
  margin-right: 305px;
}
#line-fix {
  border: none;
}
/* Content Container4 End */

/* Footer */
.footer-container {
  width: 100%;
  height: auto;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
}
.footer-title h1 {
  font-size: 130px;
}
.footer-title1 {
  font-weight: lighter;
  margin-bottom: -35px;
}
.footer-title2 {
  font-weight: bolder;
  margin-top: -35px;
}
.footer-title p {
  font-size: 20px;
  margin-top: 25px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding-bottom: 50px
}
.arrow-icon {
  display: flex;
  margin-left: 80px;
}
.share-icon {
  display: flex;
  margin-right: 80px;
}
.arrow-container {
  margin-right: 25px;
}
.share-container {
  margin-left: 25px;
}
/* Footer End */

/* Body */

/* Fixed's */
  /* Top */
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Top */
  /* Top right */
  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  /* Top right */
  /* Top left */
  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* Top left */

  /* Bottom */
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  /* Bottom */
  /* Bottom right */
  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  /* Bottom right */
  /* Bottom left */
  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  /* Bottom left */
/* Fixed's */