/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){

.cursor {
    display: none;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 20%;
}
.logo-container img{
    width: 100%;
}

.menu-container {
    display: none;
}

.logo-menu-container {
    width: 20%;
}
.logo-menu-container img {
    width: 50%;
}
/* Header End */

/* Content Container1 */
.title-container {
    margin-top: 10px;
}

.title-container h1 {
    font-size: 42px;
    margin-top: -9px;
}
.title-container h2 {
    font-size: 42px;
    margin-bottom: -9px;
}

.subtitle-container {
    padding: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}
.subtitle-container p {
    font-size: 16px;
    margin: 1px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-container img {
    margin-top: 6vh;
    height: 80vh;
    width: 63vw;
}
.img-container-par {
    font-size: 20px;
}
.img-container-par p{

}
/* Content Container1 End*/

}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media  screen and (min-width: 1280px) and (max-width: 1439px){}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media  screen and (min-width: 1440px) and (max-width: 1599px){}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1600px) and (max-width: 1919px){}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1920px){}