/*Media queries para trabajar Mobile*/
@media  screen and (max-width: 479px){

.cursor {
    display: none;
}
/* Pre loader */
.number {
    font-size: 16px;
}
.loading {
    font-size: 14px;
}
/* Pre loader End */
/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 20%;
}
.logo-container img{
    width: 100%;
}

.menu-container {
    display: none;
}

.logo-menu-container {
    width: 20%;
}
.logo-menu-container img {
    width: 50%;
}
/* Header End */

/* Content Container1 */
.title-container {
    margin-top: 10px;
}

.title-container h1 {
    font-size: 35px;
    margin-top: -9px;
}
.title-container h2 {
    font-size: 35px;
    margin-bottom: -9px;
}

.subtitle-container {
    padding: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}
.subtitle-container p {
    font-size: 16px;
    margin: 1px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-container img {
    margin-top: 6vh;
    height: 80vh;
    width: 63vw;
}
.img-container-par {
    font-size: 18px;
}
.img-container-par p{
    margin: -2px;
}

.par-container1 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0;
    padding: 16px;
}
.par-container1 div {
    margin-bottom: 15px;
}
#par-par {
    letter-spacing: -1px;
    font-weight: bolder;
    margin-bottom: 4px;
}
/* Content Container1 End*/

/* Content Container2 */
.content-container2 {
    margin-bottom: 25px;
}

.content-container2-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container2-large-img img {
    height: 76vh;
    width: 90vw;
}
.content-container2-large-img {
    margin-bottom: 25px;
}
.large-img-par {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container2-small-img {
    display: flex;
    flex-direction: column;
}
.content-container2-small-img div {
    margin: 25px 25px 25px 25px;
}

.small-img1 img{
    height: 76vh;
    width: 90vw;
}
.small-img2 img{
    height: 76vh;
    width: 90vw;
}
.small-img1 p{
    display: flex;
    justify-content: center;

}
.small-img2 p {
    display: flex;
    justify-content: center;

}

.content-container2-btnview p {
    font-size: 24px;
}
/* Content Container2 End*/

/* Content Container3 */
.content-container3 {
    padding: 25px;
    display: flex;
    align-items: flex-start;
}

.content-our-service {
    display: flex;
    align-items: flex-start;
}
.our-service {
    margin-top: 60px;
    font-size: 16px;
}
.our-service-scroll {
    display: none;
    /*pendiente por reparar*/
}

.short-tip {
    display: flex;
    flex-direction: column;
    margin-top: 65vh;
    margin-bottom: -33vh;
}


.short-tip div {
    margin-bottom: 25px
}
.short-tip-content1 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    letter-spacing: 0px;
}
.short-tip-content1 p {
    margin-top: 0;
}

.our-service-list {
    font-size: 23px;
    display: flex;
    margin: 0;
    justify-content: flex-start;
}

.list-separation-right {
    margin-right: 4px;
}
.list-separation-left {
    margin-left: 4px;
}

.box-content {
    z-index: 3;
    margin-top: 13vh;
}
/* Content Container3 End*/

/* Content Container4 */
.content-container4 {

}
.container4-title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.list-content {
    padding: 20px;
}
.content1 {
    display: flex;
    flex-direction: column;
}
.content-p1 {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.content-p1 span {
    margin-bottom: 10px;
}
.content1-title {
    font-size: 16px;
}
.par-color2 {
    margin-bottom: 10px;
}
/* Content Container4 End*/

/* Footer */
.footer-title h1 {
    font-size: 36px;
}
.footer-title1 {
    margin-bottom: -8px;
}
.footer-title2 {
    margin-top: -8px;
}
.footer-title p {
    margin-top: 5px;
    font-size: 16px;
}

.footer-bottom {
    display: flex;
    flex-direction: column-reverse;
}
.footer-bottom p {
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.arrow-icon {
    margin-left: 35px;
    margin-top: 10px;
}
.arrow-icon p {
    display: none;
}
.share-icon {
    display: none;
}
/* Footer End*/
}

/*Media queries para trabajar Tablets como las Surfaces*/
@media  screen and (min-width: 480px) and (max-width: 767px){}

/*Media queries para trabajar en tablets com Ipads*/
@media  screen and (min-width: 768px) and (max-width: 1023px){}

/*Media queries para trabajar en pantallas con viejas resoluciones*/
@media  screen and (min-width: 1024px) and (max-width: 1279px){}

/*Media queries para trabajar Pantallas de escritorio tablet con la resolucion promedio de HD*/
@media  screen and (min-width: 1280px) and (max-width: 1439px){}

/*Media queries para trabajar en Pantallas de su mayoria laptops*/
@media  screen and (min-width: 1440px) and (max-width: 1599px){}

/*Media queries para trabajar en pantallas pre-FULLHD*/
@media  screen and (min-width: 1600px) and (max-width: 1919px){}

/*Media queries para trabajar en Pantallas FULLHD y superior*/
@media  screen and (min-width: 1920px){}